.footer {
  /* height: 546px; */
  background: var(--color-3);
  padding: 50px 0px 10px 0px;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.footer_body {
  display: flex;
}
.footer_logo {
  display: block;
  width: 100%;
  height: 177px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_logo img {
  height: auto;
  max-height: 100%;
  width: 100%;
  object-fit: contain;
}

.footer_link_box {
  display: flex;
  justify-content: space-evenly;
  gap: 33px;
}

.footer_link {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-1);
  transition: 500ms;

  text-wrap: nowrap;
}
.footer_link:hover {
  transform: scale(1.01) translateX(10px);
  /* color: #fde787; */
}
.footer nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.nav_tab {
  position: relative;
  height: 20px;
  transition: 300ms;
}
.nt_active {
  height: auto;
}
.nav_tab_ac {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  border-image: linear-gradient(
    123.38deg,
    #f5d962 -1.21%,
    #d4ae44 5.25%,
    #a8751a 8.27%,
    #bb8d2b 14.88%,
    #9f6b14 21.64%,
    #ae8328 30.44%,
    #ebe077 43.39%,
    #ffff91 57.92%,
    #fbf89c 79.52%,
    #c5a33f 91.15%,
    #d6be57 91.15%
  );
  -webkit-border-image: -webkit-linear-gradient(
    123.38deg,
    #f5d962 -1.21%,
    #d4ae44 5.25%,
    #a8751a 8.27%,
    #bb8d2b 14.88%,
    #9f6b14 21.64%,
    #ae8328 30.44%,
    #ebe077 43.39%,
    #ffff91 57.92%,
    #fbf89c 79.52%,
    #c5a33f 91.15%,
    #d6be57 91.15%
  );
  border-image-slice: 1;
  cursor: pointer;
  transform: rotate(45deg);
  transition: 300ms;
  top: 6px;
  left: 0px;
}
nav.nav_tab a:not(:nth-child(1)) {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-1);
  text-transform: initial;
  transition: 300ms;
  text-align: start;
}
nav.nav_tab a:not(:nth-child(1)):hover,
nav a.footer_info_map:hover {
  text-decoration: revert;
  /* color: #ebe077; */
}
.ac_active {
  transform: rotateZ(137deg);
}
.footer_info_contacts img {
  width: 30px;
  height: 30px;
  transition: 300ms;
}
.footer_info_contacts img:hover {
  transform: scale(1.3);
}
nav a.footer_info_map {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: var(--color-1);
  text-transform: initial;
  width: 241px;
  transition: 300ms;
  text-align: start;
}
.footer .header_tel {
  align-self: start;
}
.linksfot {
  display: flex;
  gap: 13px;
}
.footer_f {
    margin-top: 30px;
  width: 100%;
  border-top: 2px solid;
  border-image: linear-gradient(
    190deg,
    #f5d962 -1.21%,
    #d4ae44 5.25%,
    #a8751a 8.27%,
    #bb8d2b 14.88%,
    #9f6b14 21.64%,
    #ae8328 30.44%,
    #ebe077 43.39%,
    #ffff91 57.92%,
    #fbf89c 79.52%,
    #c5a33f 91.15%,
    #d6be57 91.15%
  );
  -webkit-border-image: -webkit-linear-gradient(
    123.38deg,
    #f5d962 -1.21%,
    #d4ae44 5.25%,
    #a8751a 8.27%,
    #bb8d2b 14.88%,
    #9f6b14 21.64%,
    #ae8328 30.44%,
    #ebe077 43.39%,
    #ffff91 57.92%,
    #fbf89c 79.52%,
    #c5a33f 91.15%,
    #d6be57 91.15%
  );
  border-image-slice: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
  opacity: 0.5;
}
.footer_f a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-1);
}
.footer .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.footer_logo:hover {
  transition: 300ms;
  filter: grayscale();
}
